<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IT Supporter</title>
    <style>
      body {
        line-height: 1.5;
      }
      a,
      strong {
        text-decoration: none;
        color: #ff9800;
        font-weight: bold;
      }

      .centedr {
        text-align: justify;
      }
    </style>
  </head>
  <body>
    <div style="max-width: 800px; margin: 0 auto 0 auto; padding: 12px">
      <h3>Thông báo kết quả xét tuyển Cộng tác viên năm 2023</h3>

      <div
        style="
          background-color: #fff;
          border: 1px solid #ddd;
          border-radius: 10px;
          padding: 20px;
        "
      >
        <img
          src="https://scontent.fhan20-1.fna.fbcdn.net/v/t39.30808-6/343412948_6644991202197305_6036153138961262362_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=1b51e3&_nc_ohc=FF7DQlfNnOgAX8n8-cH&_nc_ht=scontent.fhan20-1.fna&oh=00_AfAuD-fK-2Rln7z4fPOVOkafQ6aapdvhiFN2BC0EvGwOlw&oe=6517C99A"
          height="40px"
          class="CToWUd"
          data-bit="iit"
          jslog="138226; u014N:xr6bB; 53:WzAsMl0."
        />
        <p>Xin chào <b style="color: #ff9800"> <%=fullName%> </b>,</p>
        <p class="center">
          Trong những ngày vừa qua,
          <b style="color: #ff9800">IT Supporter</b> rất vui vì nhận được đơn
          ứng tuyển của bạn. Sau quá trình làm bài test và phỏng vấn, chúng mình
          đã có kết quả dành cho bạn. <br />
          Xin <b style="color: #ff9800"> CHÚC MỪNG </b> bạn đã trở thành một
          Cộng tác viên mới của CLB hỗ trợ kỹ thuật IT Supporter.<br /><br />
          <b
            >Dưới đây là một số thông tin cá nhân bạn cần xác nhận để hoàn thành
            quá trình ứng tuyển <br />
            và một số hướng dẫn cho việc tham gia buổi họp đầu tiên của các bạn
            với CLB:</b
          >
        </p>
        <ul>
          <li><b>Mã sinh viên</b>: <%=studentId%></li>
          <li><b>Lớp</b>: <%=className%></li>
          <li><b>Điện thoại</b>: <%=phoneNumber%></li>
          <li>
            <b>Zalo Gen10</b>:
            <a target="_blank" href="https://zalo.me/g/qkhavc283">Tại đây</a>
          </li>
          <li>
            <b>Thời gian bắt đầu buổi họp:</b
            ><b style="color: #ff9800"> 17 giờ 30 phút</b>, thứ Năm, ngày 05
            tháng 10 năm 2023
          </li>
          <li>
            <b>Địa điểm: </b>
            <strong>Canteen C123</strong>, Cơ sở 3, Trường Đại học Công nghiệp
            Hà Nội
          </li>
          <li>
            Nếu có bất kì thông tin cá nhân nào chưa chính xác hoặc bạn có bất
            kì thắc mắc nào, <br />hãy liên hệ với chúng mình
            <a
              href="https://www.facebook.com/itsupporter.haui"
              target="_blank"
              data-saferedirecturl="https://www.google.com/url?q=https://www.facebook.com/itsupporter.haui&amp;source=gmail&amp;ust=1695756795235000&amp;usg=AOvVaw2epspecFcf-CC4yP4eU1Aq"
              >tại đây</a
            >.
          </li>
        </ul>

        <h3 style="color: #ff9800; text-align: center">
          Hẹn gặp các bạn tại buổi họp!
        </h3>
      </div>

      <div style="margin-top: 20px; text-align: center">
        © 2023 - Câu lạc bộ Hỗ trợ kỹ thuật IT Supporter
      </div>
      <div class="yj6qo"></div>
      <div class="adL"></div>
    </div>
  </body>
</html>
